@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700&display=swap');


/* :root { */
	/* Default */
	/* --bg-color: white; */
	/* --nav-color: #24252A; */
	/* --nav-font-color: #edf0f1;  */
	/* --content-title-color: black */
	/* --font-family: 'Alegreya Sans SC', sans-serif; */

	
	/* Minimal, warm */
	/* --bg-color: #eae7dc; */
	/* --btn-bg-color: rgba(0,136,169,0.55); */
	/* --btn-hover-color: rgba(0,136,169,1); */
	/* --btn-border: none; */
	/* --btn-border-width: none; */
	/* --nav-color: #E14835; */
	/* --nav-border-bottom: none; */
	/* --nav-font-color: #eae7dc; */
	/* --content-title-color: #E14835; */
	/* --font-color: #2e2d2a; */
	/* --font-family: 'Barlow', sans-serif; */
	/* --card-shadow: 0 0 1em rgba(0, 0, 0, 0.5); */
	
	
	/* Bright Accent Colors */
	/* --bg-color: #2f2fa2; */
	/* --btn-bg-color: #242582; */
	/* --btn-hover-color: rgba(246, 76, 114, 1); */
	/* --btn-border-style: solid; */
	/* --btn-border-width: 2px; */
	/* --btn-border-color: #f64c72; */
	/* --nav-color: #242582; */
	/* --nav-border-bottom: 2px solid #f64c72; */
	/* --nav-font-color: #eae7dc; */
	/* --content-title-color: #eae7dc; */
	/* --font-color: #eae7dc; */
	/* --font-family: 'Barlow', sans-serif; */
	/* --card-shadow: 0 0 0.5em #f64c72; */

	
	/* --nav-hover-color: #0088a9; */
	/* --font-color: #7f7f7f; */
	/* --nav-height: 85px; */
	/* --content-transition: all 0.85s ease 0s; */
/* } */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease 0s;
}

body {
	background-color: var(--bg-color);
}

h2 {
	color: var(--font-color);
	font-family: var(--font-family);
	font-weight: 550px;
}

p {
	color: var(--font-color);
	font-family: var(--font-family);
	font-weight: 550px;
}

#myName {
	font-family: var(--font-family);
	font-weight: 550;
	font-size: 40px;
	color: var(--nav-font-color);
	cursor: pointer;
	margin-right: auto;
}

li, a, button {
	font-family: var(--font-family);
	font-weight: 550;
	font-size: 18px;
	color: var(--nav-font-color);
	text-decoration: none;
}

header {
	display: flex;
	/* justify-content: space-between; */
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: var(--nav-color);
	border-bottom: var(--nav-border-bottom);
	/* border-width: 2px; */
	/* border-color: black; */
	/* border-style: solid; */
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;	
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: var(--nav-hover-color);
}

button {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: var(--btn-bg-color);
	border-style: var(--btn-border-style);
	border-color: var(--btn-border-color);
	border-radius: 50px;
	border-width: var(--btn-border-width);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: var(--btn-hover-color);
}

img {
	height: 440px;
	width: 560px;
}

.projectImg, .expImg {
	float: left;
}

.projectDes, .expDes {
	float: right;
}

#homeImg {
	transition: var(--opacity-transition);
	width: 100%;
	height: 89.65vh;
	/* height: 100%; */
	/* max-height: 100vh; */
	margin: auto;
}

#resume {
	text-align: center;
	width: 100%;
}

.card-container {
	display: grid;
	grid-template-rows: 10vh auto;
	grid-template-columns: 1fr 7fr 1fr;
	grid-template-areas:
		"title title title"
		". card-list .";
}

nav {
	grid-area: nav;
}

.card-container-title {
	grid-area: title;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container-title h1 {
	font-family: var(--font-family);
	font-size: 40px;
	font-weight: 550px;
	color: var(--content-title-color);
}

.card-list {
	grid-area: card-list;
}

footer {
	grid-area: foot;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #24252A;
}

footer h1 {
	font-family: var(--font-family);
	font-size: 40px;
	/* font-weight: 550px; */
	color: yellow;
}

.card {
	display: grid;
	grid-template-rows: min-content auto;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
		"img card-title"
		"img content";
		
	grid-column-gap: 1.5em;
	box-shadow: var(--card-shadow);
	padding: 1.5em;
	margin: 1.5em;
	/* grid-template:  */
		/* "img title" */
		/* "img content" / 1fr 3fr; */
}

.card-img {
	height: 300px;
	width: 300px;
	grid-area: img;
	max-width: 100%;
}

.card-title {
	grid-area: card-title;
	margin: 0;
	font-weight: 300;
}

.card-content {
	grid-area: content;
}

.card-content a {
	color: blue;
	font-size: 1.1em;
}

#project-container, #experience-container {
	transition: var(--content-transition);
}