:root {
	/* Minimal, warm */
	--bg-color: #eae7dc;
	--btn-bg-color: rgba(0,136,169,0.55);
	--btn-hover-color: rgba(0,136,169,1);
	--btn-border: none;
	--btn-border-width: 0px;
	--btn-border-color: none;
	--btn-border-radius: 50px;
	--nav-color: #E14835;
	--nav-border-bottom: none;
	--nav-font-color: #eae7dc;
	--content-title-color: #E14835;
	--font-color: #2e2d2a;
	--font-family: 'Barlow', sans-serif;
	--card-shadow: 0 0 1em rgba(0, 0, 0, 0.5);

	
	--nav-hover-color: #0088a9;
	/* --font-color: #7f7f7f; */
	--nav-height: 85px;
	--content-transition: all 0.85s ease 0s;
}