@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
	/* transition: all 0.3s ease 0s; */
}

body {
	background-color: var(--bg-color);
	overflow-x: hidden;
}

h2 {
	color: var(--font-color);
	font-family: var(--font-family);
	font-weight: 550px;
}

p {
	color: var(--font-color);
	font-family: var(--font-family);
	font-weight: 550px;
}

#myName {
	font-family: var(--font-family);
	font-weight: 550;
	font-size: 40px;
	color: var(--nav-font-color);
	cursor: pointer;
	margin-right: auto;
}

.desktop li, .desktop a, .desktop button {
	font-family: var(--font-family);
	font-weight: 550;
	font-size: 18px;
	color: var(--nav-font-color);
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: var(--nav-color);
	border-bottom: var(--nav-border-bottom);
	height: 130px;
}

header .logo {
	background-image: url("../media/logo_transparent_background_small.png");
	margin-left: -100px;
	height: 90px;
	width: 250px;
	background-repeat: no-repeat;
	text-indent: -999999px;
}

#content {
	width: 100%;
	height: 100%;
	position: absolute;
}

.mobile {
	display: none;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;	
	padding: 0px 10px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: var(--nav-hover-color);
}

.active-nav {
	color: var(--nav-hover-color);
}

#contactBtn {
	margin-left: 20px;
	margin-right: -70px;
	padding: 9px 25px;
	background-color: var(--btn-bg-color);
	border-style: var(--btn-border-style);
	border-color: var(--btn-border-color);
	border-radius: var(--btn-border-radius);
	border-width: var(--btn-border-width);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

#contactBtn:hover {
	background-color: var(--btn-hover-color);
}

.projectImg, .expImg {
	float: left;
}

.projectDes, .expDes {
	float: right;
}

#homeImg {
	width: 100%;
	height: 89.65vh;
	z-index: 0;
}

.home {
	background-image: url(../media/richmond2.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.resume {
	text-align: center;
	width: 100%;
}

.logo-img {
	height: 200px;
	width: 200px;
	max-width: 100%;
	margin-bottom: 70px;
}

footer {
	position: absolute;
	display: flex;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: var(--nav-color);
	transition: none;
}

.foot-links {
	list-style: none;
	left: 80vw;
	display: inline-block;
	position: absolute;
}

.foot-links li {
	display: inline-block;
}

.foot-links li a {
	color: var(--nav-font-color);
}

#footer i {
	font-size: 30px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 10px;
}

.foot-name {
	font-family: var(--font-family);
	line-height: 45px;
	margin-left: 50px;
	text-align: left;
	display: inline-block;
	color: var(--nav-font-color);
}

#project-container, #experience-container {
	transition: var(--content-transition);
}

.hide-myName, .hide-prof {
	z-index: 1;
}

#introName, #introName-outer {
	margin-left: 30px;
}

#guideName {
	font-size: 80px;
	margin-left: 60px;	
}

#prof {
	margin-left: 30px;
}

#guideProf {
	font-size: 60px;
	margin-left: 60px;
	margin-top: 25vh;
}

.hide-myName, .hide-prof {
	font-family: var(--font-family);
	color: var(--content-title-color);
}

.hide-myName-outer, .hide-prof-outer {
	font-family: var(--font-family);
	color: black;
}

.hide-myName {
	opacity: 0.0;
	transition: all 1.5s ease 0s;
	position: absolute;
	font-size: 80px;
}

.hide-myName-outer {
	font-size: 85px;
}

.hide-prof { 
	opacity: 0.0;
	transition: all 1.5s ease 0s;
	margin-top: 25vh;
	position: absolute;
	font-size: 60px;
}

.hide-prof-outer {
	font-size: 65px;
}

.underline {
	opacity: 0.0;
	transition: all 3.0s ease 0s;
	position: absolute;
	margin-left: 30px;
	font-size: 60px;
	font-family: var(--font-family);
	color: var(--nav-font-color);
}

#about-pic {
	margin-top: 30px;
}

#contact-modal {
	top: 28vh;
	left: 38vw;
	position: absolute;
	height: 150px;
	width: 325px;
	border-style: solid;
	border-width: 1.5px;
}

.disabled {
	filter: grayscale(100%);
	opacity: 0.85;
	filter: alpha(opacity=40); 
	transition: none;
}

@media screen and (max-width: 1000px) { 
	.foot-links {
		left: 75vw;
	}
	
	#myName {
		margin-left: -80px;
	}
}

@media screen and (max-width: 950px) {
	header .desktop {
		display: none;
	}
	
	header .mobile {
		display: inline
	}
}

@media screen and (max-width: 850px) {
	#myName {
		margin-left: -65px;
	}
}

@media screen and (max-width: 800px) {
	.foot-links {
		left: 70vw;
	}
	
	.foot-name {
		margin-left: 45px;
	}
}

@media screen and (max-width: 700px) {
	#myName {
		margin-left: -55px;
	}
}

@media screen and (max-width: 600px) {
	#myName {
		margin-left: -45px;
	}
}

@media screen and (max-width: 670px) {
	.foot-links {
		left: 65vw;
	}
	
	.foot-name {
		margin-left: 38px;
	}
}

@media screen and (max-width: 540px) {
	.foot-links {
		left: 60vw;
	}
	
	.foot-name {
		margin-left: 32px;
	}
}

@media screen and (max-width: 500px) {
	#myName {
		margin-left: -38px;
	}
}

@media screen and (max-width: 490px) {
	.foot-links {
		left: 55vw;
	}
	
	.foot-name {
		margin-left: 40px;
	}
}

@media screen and (max-width: 425px) {
	.foot-links {
		left: 50vw;
	}
	
	.foot-name {
		margin-left: 25px;
	}
}

@media screen and (max-width: 400px) {
	#myName {
		margin-left: -35px;
	}
}

@media screen and (max-width: 380px) {
	.foot-links {
		left: 47vw;
	}
	
	.foot-name {
		margin-left: 15px;
	}
}

@media screen and (max-width: 380px) {
	.foot-links {
		left: 44vw;
	}
	
	.foot-name {
		margin-left: 8px;
	}
}

@media screen and (max-width: 315px) {
	.foot-links {
		left: 42vw;
	}
	
	.foot-name {
		margin-left: 4px;
	}
}

@media screen and (max-width: 305px) {
	.foot-links {
		left: 40vw;
	}
	
	.foot-name {
		margin-left: 2px;
	}
}
