.card {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		"card-img card-title"
		"card-img card-content";
		
	grid-column-gap: 1.5em;
	box-shadow: 0 0 0.2em #f64c72;
	padding: 1.5em;
	margin: 1.5em;
}

.grid-card-borderless {
	display: grid;
	grid-template-rows: 1fr 7fr;
	grid-template-columns: 1fr 5fr;
	grid-template-areas:
		"card-img card-title"
		"card-img card-content";
		
	grid-column-gap: 1.5em;
	grid-row-gap: 15px;
	box-shadow: 0 0 0.0em #f64c72;
	
	padding: 1.5em;
	margin: 1.5em;
}

.card-borderless {
 	margin-top: 4%;
	margin-bottom: 4%;
	/* text-align: center; */
}

.card-img {
	grid-area: card-img;
	/* height: 300px; */
	/* width: 300px; */
	/* float: left; */
	/* clear: both; */
	margin: 15px;
	/* margin-left: 10%; */
	/* height: auto; */
}

.center-container {
	text-align: center;
}

@media screen and (min-width: 1040px) {
	.card-img {
		grid-area: card-img;
		/* height: 300px; */
		/* width: 300px; */
		float: left;
		/* clear: both; */
		margin: 15px;
		margin-left:5%;
		
	}
	
	.center-container {
		text-align: left;
	}
}

.card-title {
	grid-area: card-title;
	/* margin: 0; */
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 6%;
	margin-right: 6%;
}

.card-content {
	grid-area: card-content;
}

.card-content p {
	font-size: 20px;
	margin: 3% 6%;
	/* margin-left: 5%; */
	/* margin-right: 5%; */
}

.card-container-single {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 16fr 4fr 1fr;
	grid-template-areas:
		". card-box side-img .";
		/* ". card-box side-img .; */
}

.card-box {
	grid-area: card-box;
}

.side-img {
	grid-area: side-img;
	height: 200px;
	width: 200px;
}

.card-container-double {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 5fr 5fr 1fr;
	grid-template-areas:
		". card-box-left card-box-right .";
		
}

.card-box-left {
	grid-area: card-box-left;
}

.card-box-right {
	grid-area: card-box-right;
}

.column-title {
	text-align: center;
	margin-top: 5%;
	color: var(--font-color);
	font-family: var(--font-family);
}

.column-left {
	box-shadow: 0 0 0.2em #f64c72;
	float: left;
	width: 48%;
	margin-top: 25px;
	margin-left: 1%;
	margin-bottom: 1%;
	/* margin: 25px; */
}

.column-right {
	box-shadow: 0 0 0.2em #f64c72;
	float: right;
	width: 48%;
	margin-top: 25px;
	margin-right: 1%;
	/* margin-bottom: 1%; */
	/* margin: 25px; */
}

.card-container {
	width: 100%;
}
.card-container-left {
	/* display: grid; */
	/* grid-template-rows: auto; */
	/* grid-template-columns: auto; */
	/* grid-template-areas: */
		/* "card-box"; */
		
	width: 100%;
		
	/* float: left; */
		
}

.card-container-right {
	/* display: grid; */
	/* grid-template-rows: auto; */
	/* grid-template-columns: auto; */
	/* grid-template-areas: */
		/* "card-box"; */
		
	width: 100%;
	/* float: right; */
}

.divider {
	margin-top: 85px;
	width: 50px;
	height: 75vh;
	left: 50%;
	right: 50%;
	display: inline-block;
}