.card {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		"card-img card-title"
		"card-img card-content";
		
	grid-column-gap: 1.5em;
	box-shadow: 0 0 0.2em #f64c72;
	padding: 1.5em;
	margin: 1.5em;
}

.grid-card-borderless {
	display: grid;
	grid-template-rows: 1fr 10fr;
	grid-template-columns: 1fr 5fr;
	grid-template-areas:
		"card-img card-title"
		"card-img card-content";
		
	/* grid-column-gap: 1.5em; */
	grid-row-gap: 0px;
	box-shadow: 0 0 0.0em #f64c72;
	
	padding: 1.5em;
	margin: 1.5em;
}

.card-borderless {
 	margin-top: 4%;
	margin-bottom: 4%;
}

.card-img {
	grid-area: card-img;
	margin: 15px;
}

.center-container {
	text-align: center;
}

@media screen and (min-width: 1125px) {
	.card-img {
		grid-area: card-img;
		float: left;
		/* margin: 15px; */
		/* margin-left:5%; */
		margin: 5px 15px 7px 6%
		
	}
	
	.center-container {
		text-align: left;
	}
}

.card-title {
	grid-area: card-title;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 6%;
	margin-right: 6%;
}

.card-content {
	grid-area: card-content;
}

.card-content p {
	font-size: 20px;
	margin: 3% 6%;
}

.card-container-single {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 16fr 4fr 1fr;
	grid-template-areas:
		". card-box side-img .";
}

.card-box {
	grid-area: card-box;
}

.side-img {
	grid-area: side-img;
	height: 200px;
	width: 200px;
}

.card-container-double {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 5fr 5fr 1fr;
	grid-template-areas:
		". card-box-left card-box-right .";
		
}

.card-box-left {
	grid-area: card-box-left;
}

.card-box-right {
	grid-area: card-box-right;
}

.column-title {
	text-align: center;
	margin-top: 5%;
	color: var(--font-color);
	font-family: var(--font-family);
}

.column-left {
	box-shadow: 0 0 0.2em #f64c72;
	float: left;
	width: 48%;
	margin-top: 25px;
	margin-left: 1%;
	margin-bottom: 1%;
}

.column-right {
	box-shadow: 0 0 0.2em #f64c72;
	float: right;
	width: 48%;
	margin-top: 25px;
	/* margin-top: 25px; */
	/* margin */
	margin-right: 1%;
}

.card-container {
	width: 100%;
}

.card-container-left {
	width: 100%;
}

.card-container-right {
	width: 100%;
}

.divider {
	margin-top: 85px;
	width: 50px;
	height: 75vh;
	left: 50%;
	right: 50%;
	display: inline-block;
}

.modal {
	background-color: var(--bg-color);
	text-align: center;
}

.modal-prompt {
	margin: 25px 5px 0 5px;
}

.dialog-btn {
	height: 30px;
	border-radius: 5px;
	line-height: 50%;
	width: 100px;
	text-align: center;
	padding: 0px;
	font-family: var(--font-family);
	font-size: 18px;
	color: var(--nav-font-color);
}

.btn-confirm {
	margin-bottom: 0px;
	margin-left: 70px; 
	background-color: var(--btn-bg-color);
	border-color: var(--btn-border-color);
	border-radius: var(--btn-border-radius);
	border-width: var(--btn-border-width);
	cursor: pointer;
}

.btn-confirm:hover {
	background-color: var(--btn-hover-color);
}

.btn-cancel {
	margin-bottom: 0px;
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 5px;
	background-color: var(--nav-color);
	border-radius: var(--btn-border-radius);
	border-width: var(--btn-border-width);
	cursor: pointer;
}

.btn-cancel:hover {
	background-color: darkred;
}

@media screen and (min-width: 1155px) {
	.column-right {
		margin-left: 52%;
	}
	
	.column-left {
		margin-left: 2%;
	}
}

@media screen and (min-width: 1125px) {
	.projects-experience {
	}
	
	.column-right {
		margin-left: 51%;
	}
	
	.column-left {
		margin-left: 1%;
	}
	
	.work-experience {
		position: absolute;
		width: 545px;
	}
	
	.projects {
		position: absolute;
		margin-top: 532px;
		width: 545px;
	}
	
	.leadership-experience {
		position: absolute;
		margin-top: 1633px;
		width: 545px;
	}
	
	.cirricular-experience {
		position: absolute;
		width: 545px;
	}
}

@media screen and (max-width: 800px) {
	.column-left, .column-right {
		clear: both;
		float: left;
		width: 82%;
		margin-left: 10%;
	}
}



 
